[Desktop Entry]
Type=Application
Version=2.0
Name=Cine Encoder
Comment=Video encoder
Icon=cine-encoder
Exec=python /usr/lib/python3.8/site-packages/cine-encoder/main.py
Terminal=false
Categories=AudioVideo;AudioVideoEditing;
Keywords=media info;metadata;tag;video;audio;subtitles;chapters;codec;mkv;mpeg;mp3;h264;avc;h265;hevc;avi;
