[Desktop Entry]
Comment[cv_RU]=
Comment=
Exec=python /usr/lib/python3.8/site-packages/cine-encoder/main.py
GenericName[cv_RU]=Cine Encoder
GenericName=Cine Encoder
Icon=cine-encoder
MimeType=
Name[cv_RU]=Cine Encoder
Name=Cine Encoder
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
