[Desktop Entry]
Type=Application
Version=2.4
Name=Cine Encoder
Comment=Video encoder
Icon=cine-encoder
Exec=python3 -m cine_encoder.main
Terminal=false
Categories=AudioVideo;AudioVideoEditing;
Keywords=media info;metadata;tag;video;audio;subtitles;chapters;codec;mkv;mpeg;mp3;h264;avc;h265;hevc;avi;
