[Desktop Entry]
Type=Application
Version=3.5
Name=Cine Encoder
Comment=Video encoder
Icon=cine-encoder
Exec=cine_encoder %f -platform xcb
Terminal=false
Categories=AudioVideo;AudioVideoEditing;
Keywords=media info;metadata;tag;video;audio;subtitles;chapters;codec;mkv;mpeg;mp3;h264;avc;h265;hevc;avi;
