/**************************************************************************
**  DEFAULT THEME
**************************************************************************/


@mainBackground = #FFFFFF;

@tableBorder = #E9E9E9;
@tableBackground = #F9F9F9;
@tableAlternateBackground = #F6F6F7;
@tableRowSelectedBackground = qlineargradient(spread:reflect, x1:0.5, y1:0, x2:0.5, y2:1,
stop:0 #EDEDEE, stop:0.5 #F3F3F4, stop:1 #EDEDEE);
@tableTextColor = #000000;
@tableTextSelected = #000000;
@tableGrid = #CCCCCC;

@frameEdgingBackground = #FCFCFC;
@frameMiddleBorder = #E9E9E9;
@frameMiddleBackground = #FFFFFF;
@frameTextColor = #000000;
@frameEdgeBorder = #E9E9E9;
@frameTopBackground = #FCFCFC;
@frameBottomBackground = #FFFFFF;
@frameHeaderBackground = #F5F5F5;

@scrollBackground = #F5F5F5;
@scrollHandle = #DEDEDE;
@scrollAddLineSubLine = #F5F5F5;

@headerTextColor = #272727;
@headerBackground = qlineargradient(spread:reflect, x1:0.5, y1:0, x2:0.5, y2:1,
stop:0 #DEDEDE, stop:0.2 #E0E0E0, stop:1 #E5E5E5);
@headerBorder = #D8D8D8;

@elementsTextColor = #000000;
@elementsTextDisabled = #707070;
@elementsTextAbstractItem = #000000;
@elementsBackgroundColor = #E0E0E0;
@elementsBackgroundAbstractItem = #EEEEEE;
@elementsBackgroundSelectedAbstractItem = #DDDDDD;
@elementsBorderColor = #E0E0E0;
@elementsBorderHover = #BBBBBB;
@elementsBorderDropDown = #EEEEEE;
@elementsBorderRadius = 5px;


/**************************************************************************
**  QWidget
**************************************************************************/

QMainWindow {
    background: @mainBackground;
}
QMainWindow::separator {
    width: 1px;
    height: 1px;
    background: @mainBackground;
}

QWidget {
    background: @frameEdgingBackground;
}
QWidget[hover=true] {
    background: #F0F0F0;
}
QWidget#infoWidget {
    background: @mainBackground;
}
QWidget#centralwidget {
    background: @frameTopBackground;
}
QWidget#widget_main {
    background: @frameTopBackground;
}
QWidget#Report {
    border: 1px solid @elementsBorderColor;
    border-radius: 5px;
    background: @mainBackground;
}


/**************************************************************************
**  QFrame
**************************************************************************/

QFrame {
    border: none;
    background-color: @mainBackground;
}
QFrame#frameBrowser,
QFrame#frameSplit,
QFrame#frameMetadata,
QFrame#frameLog,
QFrame#framePreset,
QFrame#frameStreams,
QFrame#framePreview,
QFrame#frameSource,
QFrame#frameOutput,
QFrame#frameTask {
    border-left: 1px solid @frameEdgeBorder;
    border-bottom: 1px solid @frameEdgeBorder;
    border-right: 1px solid @frameEdgeBorder;
    border-top: none;
    background-color: @frameEdgingBackground;
}
QFrame#frameTaskHeader {
    min-height: 23px;
    border-top: 1px solid @frameEdgeBorder;
    background-color: @frameHeaderBackground;
}

QFrame#frameMiddle,
QFrame#frameAltTab_1,
QFrame#frameAltTab_2
{
    border: none;
    background-color: @mainBackground;
}
QFrame#frame_bottom {
    border: none;
    /*border-top: 1px solid @frameEdgeBorder;*/
    background-color: @frameBottomBackground;
}
QFrame#frame_top {
    border: none;
    background-color: @frameTopBackground;
}
QFrame#frameTab_1, QFrame#frameAudio, QFrame#frameSubtitle, QFrame#frameTab_4,
QFrame#frameLeftTab_1, QFrame#frameLeftTab_2, QFrame#frameTab_5 {
    background-color: @tableBackground;
}

#AudioLabel {
    color: #E3E3E3; font: 32pt; font-style: oblique;
    font-weight: 500;
}

#SubtitleLabel {
    color: #E3E3E3; font: 32pt; font-style: oblique;
    font-weight: 500;
}

/**************************************************************************
**  QToolTip
**************************************************************************/

QToolTip {
    border: 1px solid #282828;
    border-radius: 2px;
    color: #000000;
    background-color: #EFEFEF;
}


/**************************************************************************
**  QMenu
**************************************************************************/

QMenu {
    background-color: #F5F5F5;
}
QMenu::item {
    color: #000000;
    background-color: transparent;
}
QMenu::item:selected {
    background-color: #DDDDDD;
}
QMenu::separator {
    height: 1px;
    margin-top: 2px; margin-bottom: 2px;
    margin-left: 10px; margin-right: 10px;
    background-color: #CCCCCC;
}

/**************************************************************************
**  QMenuBar
**************************************************************************/

QMenuBar {
    min-height: 27px;
    padding: 0px;
    spacing: 3px;
    background-color: transparent;
}
QMenuBar::item {
    padding-left: 15px; padding-right: 15px;
    border: none;
    border-radius: 0px;
    color: @elementsTextColor;
    background: transparent;
}
QMenuBar::item:selected {
    background: #E9E9E9;
}
QMenuBar::item:pressed {
    padding-top: 2px;
    border-bottom: 2px solid #55AAFF;
    /*color: #55AAFF;*/
    background: transparent;
}

/**************************************************************************
**  QScrollBar
**************************************************************************/

QScrollBar {
    background: transparent;
}
QScrollBar:horizontal {
    height: 10px;
    margin: 0px 15px 0 15px;
    border: none;
    border-radius: 0px;
    background: @scrollBackground;
}
QScrollBar:vertical {
    width: 10px;
    margin: 15px 0 15px 0;
    border: none;
    border-radius: 0px;
    background: @scrollBackground;
}
QScrollBar::handle:horizontal {
    min-width: 25px;
    border-radius: 0px;
    background: @scrollHandle;
}
QScrollBar::handle:vertical {
    min-height: 25px;
    border-radius: 0px;
    background: @scrollHandle;
}
QScrollBar::add-line:horizontal {
    width: 14px;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: transparent;
    subcontrol-position: right;
    subcontrol-origin: margin;
    image: url(:/resources/icons/svg/frame-right_black.svg);
}
QScrollBar::add-line:vertical {
    height: 14px;
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: transparent;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    image: url(:/resources/icons/svg/frame-bottom_black.svg);
}
QScrollBar::sub-line:horizontal {
    width: 14px;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: transparent;
    subcontrol-position: left;
    subcontrol-origin: margin;
    image: url(:/resources/icons/svg/frame-left_black.svg);
}
QScrollBar::sub-line:vertical {
    height: 14px;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: transparent;
    subcontrol-position: top;
    subcontrol-origin: margin;
    image: url(:/resources/icons/svg/frame-top_black.svg);
}
QScrollBar::up-arrow:horizontal,
QScrollBar::down-arrow:horizontal {
    background: none;
}
QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    background: none;
}
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}
QAbstractScrollArea::corner {
    background: transparent;
}


/**************************************************************************
**  QHeaderView
**************************************************************************/

QHeaderView {
    color: @headerTextColor;
    background-color: transparent;
}
QHeaderView::section {
    border-radius: 0px;
    background-color: @headerBackground;
}
QHeaderView::section:horizontal {
    height: 28px;
    border-left: 0px;
    border-top: 0px solid @headerBorder;
    border-bottom: 0px solid @headerBorder;
    border-right: 1px solid @headerBorder;
    padding-left: 3px;
    padding-right: 3px;
}
QHeaderView::section:vertical {
    width: 0px;
    border-left: 0px;
    border-top: 0px;
    border-right: 1px solid @tableBorder;
    border-bottom: 0px;
    background-color: transparent;
}
QHeaderView::up-arrow {
    width: 13px;
    height: 9px;
    subcontrol-position: center right;
    subcontrol-origin: padding;
}
QHeaderView::down-arrow {
    width: 13px;
    height: 9px;
    subcontrol-position: center right;
    subcontrol-origin: padding;
}


/**************************************************************************
**  QTableWidget, QListView
**************************************************************************/

QTableWidget,
#listFiles {
    outline: none;
    padding-bottom: 0px;
    border-radius: 0px;
    color: @headerTextColor;
    background-color: @tableBackground;
    alternate-background-color: @tableAlternateBackground;
}
QTableWidget QTableCornerButton {}
QTableWidget QTableCornerButton::section {
    border-left: 0px;
    border-top: 0px;
    border-right: 1px solid @tableBorder;
    border-bottom: 0px;
}
QTableWidget::item {
    padding-left: -3px;
    padding-right: 5px;
    border-right: 1px solid @tableBorder;
    border-bottom: 1px solid @tableBorder;
}
QTableWidget::item:selected {
    padding-left: -3px;
    padding-right: 5px;
    color: @tableTextSelected;
    border-right: 1px solid @tableBorder;
    border-bottom: 1px solid @tableBorder;
    background-color: @tableRowSelectedBackground;
}

#listFiles::item {
    padding: 0px;
    border: none;
}
#listFiles::item:selected {
    color: @tableTextSelected;
    background-color: @tableRowSelectedBackground;
}

#TableWidgetLabel {
    color: #E3E3E3; font: 48pt; font-style: oblique;
    font-weight: 500;
}

/**************************************************************************
**  QTreeWidget
**************************************************************************/

QTreeWidget {
    outline: none;
    color: @headerTextColor;
    background-color: @tableBackground;
    alternate-background-color: @tableAlternateBackground;
}
#treeDirs {
    outline: none;
    border-right: 1px solid @tableBorder;
    color: @headerTextColor;
    background-color: @tableBackground;
    alternate-background-color: @tableAlternateBackground;
}
QTreeWidget::item,
QTreeView::item {
    min-height: 22px;
    margin-top: 2px;
    border-right: 1px solid @tableBorder;
}
QTreeWidget::item:selected,
QTreeView::item:selected {
    color: @tableTextSelected;
    background-color: @tableRowSelectedBackground;
}
QTreeWidget::item:selected:active,
QTreeView::item:selected:active {
    color: @tableTextSelected;
    background-color: @tableRowSelectedBackground;
}
QTreeWidget::item:selected:!active,
QTreeView::item:selected:!active {
    color: @tableTextSelected;
    background-color: @tableRowSelectedBackground;
}

QTreeWidget::branch,
QTreeView::branch {
    background: @tableBackground;
}
QTreeWidget::branch:has-siblings:!adjoins-item,
QTreeView::branch:has-siblings:!adjoins-item {
    background: @tableBackground;
}
QTreeWidget::branch:has-siblings:adjoins-item,
QTreeView::branch:has-siblings:adjoins-item {
    background: @tableBackground;
}
QTreeWidget::branch:!has-children:!has-siblings:adjoins-item,
QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    background: @tableBackground;
}
QTreeWidget::branch:closed:has-children:has-siblings,
QTreeView::branch:closed:has-children:has-siblings {
    background: @tableBackground;
}
QTreeWidget::branch:has-children:!has-siblings:closed,
QTreeView::branch:has-children:!has-siblings:closed {
    background: @tableBackground;
}
QTreeWidget::branch:open:has-children:has-siblings,
QTreeView::branch:open:has-children:has-siblings {
    background: @tableBackground;
}
QTreeWidget::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:!has-siblings {
    background: @tableBackground;
}

QTreeWidget::branch:has-siblings:!adjoins-item {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 4px;
    border-image: none;
}
QTreeWidget::branch:has-siblings:adjoins-item {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 4px;
    border-image: none;
}
QTreeWidget::branch:!has-children:!has-siblings:adjoins-item {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 4px;
    border-image: none;
}
QTreeWidget::branch:has-children:!has-siblings:closed,
QTreeWidget::branch:closed:has-children:has-siblings {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 4px;
    image: url(:/resources/icons/16x16/cil-arrow-right_black.png);
}
QTreeWidget::branch:open:has-children:!has-siblings,
QTreeWidget::branch:open:has-children:has-siblings {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 4px;
    image: url(:/resources/icons/16x16/cil-arrow-bottom_black.png);
}

/**************************************************************************
**  QTreeView
**************************************************************************/

#treeDirs::item {
    min-height: 22px;
    margin-top: 0px;
    border-right: none;
}

#treeDirs::branch:has-siblings:!adjoins-item {
    border-image: none;
    image: none /*url(:/resources/icons/svg/vline.svg)*/;
}
#treeDirs::branch:has-siblings:adjoins-item {
    border-image: none;
    image: none /*url(:/resources/icons/svg/haschild.svg)*/;
}
#treeDirs::branch:!has-children:!has-siblings:adjoins-item {
    border-image: none;
    image: none /*url(:/resources/icons/svg/adjoins.svg)*/;
}
#treeDirs::branch:has-children:!has-siblings:closed,
#treeDirs::branch:closed:has-children:has-siblings {
    padding-bottom: 7px;
    padding-top: 7px;
    border-image: none;
    image: url(:/resources/icons/svg/frame-right_black.svg);
}
#treeDirs::branch:open:has-children:!has-siblings,
#treeDirs::branch:open:has-children:has-siblings {
    padding-bottom: 7px;
    padding-top: 7px;
    border-image: none;
    image: url(:/resources/icons/svg/frame-bottom_black.svg);
}

/**************************************************************************
**  QTabWidget
**************************************************************************/

QTabWidget {
    qproperty-tabPosition: North;
    color: @frameTextColor;
    background-color: @frameMiddleBackground;
}
QTabWidget::tab-bar {
    alignment: left;
    background-color: @frameMiddleBackground;
}
QTabWidget::pane {
    top:-1px;
    border: 1px solid @frameMiddleBorder;
    background-color: @frameMiddleBackground;
}

/*********************************************/

QTabWidget#tabWidgetStreams {
    qproperty-tabPosition: North;
    color: @frameTextColor;
    background-color: @frameMiddleBackground;
}
QTabWidget::tab-bar#tabWidgetStreams {
    alignment: left;
    background-color: @frameMiddleBackground;
}
QTabWidget::pane#tabWidgetStreams {
    top:-1px;
    border: 1px solid @frameMiddleBorder;
    background-color: @frameMiddleBackground;
}

/*********************************************/

QTabWidget#tabWidgetSettings {
    qproperty-tabPosition: South;
    color: @frameTextColor;
    background-color: @mainBackground;
}
QTabWidget::tab-bar#tabWidgetSettings {
    alignment: left;
    height: 0px;
    background-color: @mainBackground;
}
QTabWidget::pane#tabWidgetSettings {

    border: none;
    background-color: @mainBackground;
}


/**************************************************************************
**  QCheckBox
**************************************************************************/

QCheckBox {
    spacing: 12px;
    color: #000000;
    background-color: transparent;
}
QCheckBox:disabled {
    color: #000000;
}
QCheckBox::indicator {
    width: 12px;
    height: 12px;
    border: 2px solid @elementsBorderHover;
    background: none;
}
QCheckBox::indicator:disabled {
    border: 2px solid @elementsBorderColor;
}
QCheckBox::indicator:checked {
    border: 2px solid @elementsBorderHover;
    image: url(:/resources/icons/16x16/cil-check-alt_black.png);
}
QCheckBox::indicator:checked:disabled {
    border: 2px solid @elementsBorderColor;
    image: url(:/resources/icons/16x16/cil-check-alt_black.png);
}


/**************************************************************************
**  QComboBox
**************************************************************************/

QComboBox {
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: @elementsTextColor;
    background-color: @elementsBackgroundColor;
}
QComboBox#comboBoxView {
    padding: 0px;
    padding-left: 22px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: @elementsTextColor;
    background-color: @elementsBackgroundColor;

    background-image: url(:/resources/icons/16x16/cil-screen-desktop.png);
    background-repeat: no-repeat;
    background-position: left;
}
QComboBox#comboBoxMode {
    padding: 0px;
    padding-left: 22px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: @elementsTextColor;
    background-color: @elementsBackgroundColor;

    background-image: url(:/resources/icons/16x16/cil-layers_black.png);
    background-repeat: no-repeat;
    background-position: left;
}
QComboBox#comboBoxPreset {
    padding: 0px;
    padding-left: 22px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: @elementsTextColor;
    background-color: @elementsBackgroundColor;

    background-image: url(:/resources/icons/16x16/cil-low-vision.png);
    background-repeat: no-repeat;
    background-position: left;
}
QComboBox:disabled {
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: @elementsTextDisabled;
    background-color: @elementsBackgroundColor;
}
QComboBox:hover {
    border: 2px solid @elementsBorderHover;
}
QComboBox:hover#comboBoxView,
QComboBox:hover#comboBoxMode,
QComboBox:hover#comboBoxPreset {
    border: 2px solid @elementsBorderHover;
}
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border-left-width: 3px;
    border-left-color: @elementsBorderDropDown;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: url(:/resources/icons/16x16/cil-arrow-bottom_black.png);
    background-position: center;
    background-repeat: no-reperat;
}
QComboBox QAbstractItemView {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: @elementsTextAbstractItem;
    background-color: @elementsBackgroundAbstractItem;
    /*selection-background-color: @elementsBackgroundSelectedAbstractItem;*/
}
QComboBox QAbstractItemView::item {
    color: @elementsTextAbstractItem;
    background-color: @elementsBackgroundAbstractItem;
    /*selection-background-color: @elementsBackgroundSelectedAbstractItem;*/
}
QComboBox QListView::item {
    min-height: 16px;
}


/**************************************************************************
**  QSpinBox
**************************************************************************/

QSpinBox, QDoubleSpinBox {
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: #000000;
    background-color: @elementsBackgroundColor;
}
QSpinBox:disabled, QDoubleSpinBox:disabled {
    padding: 0px;
    padding-left: 5px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: @elementsTextDisabled;
    background-color: @elementsBackgroundColor;
}
QSpinBox:hover, QDoubleSpinBox:hover {
    border: 2px solid @elementsBorderHover;
}
QSpinBox::up-button, QDoubleSpinBox::up-button {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border-left-width: 3px;
    border-left-color: @elementsBorderDropDown;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: url(:/resources/icons/16x16/cil-arrow-top_black.png);
    background-position: center;
    background-repeat: no-reperat;
}
QSpinBox::down-button, QDoubleSpinBox::down-button {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    width: 20px;
    border-left-width: 3px;
    border-left-color: @elementsBorderDropDown;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-image: url(:/resources/icons/16x16/cil-arrow-bottom_black.png);
    background-position: center;
    background-repeat: no-reperat;
}
QSpinBox QAbstractItemView, QDoubleSpinBox QAbstractItemView {
    padding: 5px;
    color: @elementsTextAbstractItem;
    background-color: @elementsBackgroundAbstractItem;
    selection-background-color: @elementsBackgroundSelectedAbstractItem;
}


/**************************************************************************
**  QLabel
**************************************************************************/

QLabel {
    color: #000000;
    background-color: transparent;
}
QLabel:disabled {
    color: @frameTextColor;
    background-color: transparent;
}

QLabel#labelPreview {
    color: @frameHeaderBackground;
    font: 24pt; font-style: oblique; font-weight: 500;
    background-color: @frameEdgingBackground;
}

QLabel#labelSplitPreview {
    color: @frameHeaderBackground;
    font: 24pt;
    font-style: oblique;
    background-color: #050505;
}

QLabel#label_source,
QLabel#label_output {
    color: @tableTextColor;
    background-color: transparent;
}

QLabel#label_53,
QLabel#label_54,
QLabel#label_55{
    color: #000000;
    background-color: transparent;
}

QLabel#extAudioLabel {
    color: #888888;
    background-color: transparent;
}

/**************************************************************************
**  QLineEdit
**************************************************************************/

QLineEdit {
    padding-left: 3px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: #000000;
    background-color: @elementsBackgroundColor;
}
QLineEdit:hover {
    border: 2px solid @elementsBorderHover;
}
QLineEdit:focus {
    border: 2px solid #5B657C;
}
QLineEdit:disabled {
    padding-left: 3px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: @elementsTextDisabled;
    background-color: @elementsBackgroundColor;
}

QLineEdit#lineEditGlobalTitle {
    padding-left: 20px;
    border-radius: 0px;
    border-left: 5px solid @elementsBorderColor;
    border-top: 2px solid @elementsBorderColor;
    border-bottom: 2px solid @elementsBorderColor;
    border-right: 2px solid @elementsBorderColor;
    color: #202020;
    background-color: @elementsBackgroundColor;
    background-image: url(:/resources/icons/16x16/cil-tags_black.png);
    background-repeat: no-repeat;
    background-position: left;
}
QLineEdit#lineEditFileFilter {
    padding-left: 20px;
    border-radius: 0px;
    border-left: 5px solid @elementsBorderColor;
    border-top: 2px solid @elementsBorderColor;
    border-bottom: 2px solid @elementsBorderColor;
    border-right: 2px solid @elementsBorderColor;
    color: #202020;
    background-color: @elementsBackgroundColor;
    background-image: url(:/resources/icons/16x16/cil-magnifying-glass_black.png);
    background-repeat: no-repeat;
    background-position: left;
}
QLineEdit:hover#lineEditGlobalTitle,
QLineEdit:hover#lineEditFileFilter {
    border: 2px solid @elementsBorderHover;
}
QLineEdit:focus#lineEditGlobalTitle,
QLineEdit:focus#lineEditFileFilter {
    border: 2px solid #5B657C;
}
QLineEdit:disabled#lineEditGlobalTitle,
QLineEdit:disabled#lineEditFileFilter {
    padding-left: 20px;
    border-radius: 0px;
    border-left: 5px solid @elementsBorderColor;
    border-top: 2px solid @elementsBorderColor;
    border-bottom: 2px solid @elementsBorderColor;
    border-right: 2px solid @elementsBorderColor;
    color: #101010;
    background-color: @elementsBackgroundColor;
}

QLineEdit:disabled#lineEditPreset {
    padding-left: 3px;
    border-radius: 0px;
    border: 2px solid @elementsBorderColor;
    color: #101010;
    background-color: @elementsBackgroundColor;
}


/**************************************************************************
**  QTextBrowser
**************************************************************************/

QTextBrowser {
    border: 1px solid transparent;
    color: @headerTextColor;
    background-color: transparent;
}
QTextBrowser#textBrowser_task {
    border: 1px solid transparent;
    color: @elementsTextColor;
    background-color: @mainBackground;
}
QTextBrowser#textBrowser_presetname {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
    border: none;
    color: @elementsTextColor;
    background-color: @elementsBackgroundColor;
}
QTextBrowser#textBrowser_log {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
    border: none;
    color: @elementsTextColor;
    background-color: @tableBackground;
}

/**************************************************************************
**  QPushButton
**************************************************************************/

QPushButton {
    border: none;
    border-radius: 3px;
    color: #000000;
    background-color: transparent;
}
QPushButton:hover {
    border: none;
    color: #0000FF;
    background-color: transparent;
}
QPushButton:pressed {
    border: none;
    color: #343B48;
    background-color: transparent;
}
QPushButton::menu-indicator {
    height: 0px;
    background-color: transparent;
}

/*********************************************/

QPushButton#buttonReset {
    border: none;
    image: url(:/resources/icons/16x16/cil-history_black.png);
    color: @elementsTextColor;
    background-color: transparent;
}
QPushButton#addFilesHot {
    border: none;
    image: url(:/resources/icons/12x12/cil-input_black.png);
    color: @elementsTextColor;
    background-color: transparent;
}
QPushButton#setOutFolder {
    border: none;
    image: url(:/resources/icons/12x12/cil-output_black.png);
    color: @elementsTextColor;
    background-color: transparent;
}
QPushButton#settings {
    border: none;
    image: url(:/resources/icons/16x16/cil-settings_black.png);
    color: @elementsTextColor;
    background-color: transparent;
}
QPushButton#audioExpandBtn {
    border: none;
    border-radius: 0px;
    image: url(:/resources/icons/svg/frame-bottom.svg);
    color: @elementsTextColor;
    background-color: transparent;
}
QPushButton#audioExpandBtn[expanded=true] {
    image: url(:/resources/icons/svg/frame-top.svg);
}
QPushButton#leftButton,
QPushButton#rightButton {
    border-radius: 0px;
}
QPushButton:disabled#leftButton,
QPushButton:disabled#rightButton {
    background-color: #D9D9D9;
}
QPushButton#hideWindow {
    border: none;
    border-radius: 0px;
    padding: 7px;
    image: url(:/resources/icons/svg/minimize_black.svg);
    color: @elementsTextColor;
    background-color: transparent;
}
QPushButton#expandWindow {
    border: none;
    border-radius: 0px;
    padding: 7px;
    image: url(:/resources/icons/svg/restore_black.svg);
    color: @elementsTextColor;
    background-color: transparent;
}
QPushButton#expandWindow[expanded=true] {
    image: url(:/resources/icons/svg/expand_black.svg);
}
QPushButton#closeWindow {
    border: none;
    border-radius: 0px;
    padding: 7px;
    image: url(:/resources/icons/svg/close_black.svg);
    color: @elementsTextColor;
    background-color: transparent;
}
QPushButton#closeReport {
    border: none;
    image: url(:/resources/icons/svg/close_black.svg);
    color: @elementsTextColor;
    background-color: transparent;
}
QPushButton#closeTWindow {
    border: none;
    padding: 5px;
    image: url(:/resources/icons/16x16/cil-x_black.png);
    color: @elementsTextColor;
    background-color: transparent;
}
QPushButton#start {
    padding: 3px;
    image: url(:/resources/icons/svg/play.svg);
}
QPushButton#start[status="1"] {
    image: url(:/resources/icons/svg/pause.svg);
}
QPushButton#start[status="2"] {
    image: url(:/resources/icons/svg/forward.svg);
}
QPushButton#report {
    image: url(:/resources/icons/svg/order-history.svg);
    background-color: transparent;
}
QPushButton:hover#resetLabels,
QPushButton:hover#addExtStream,
QPushButton:hover#clearTitles,
QPushButton:hover#undoTitles,
QPushButton:hover#clearMetadata,
QPushButton:hover#undoMetadata,
QPushButton:hover#addPreset,
QPushButton:hover#removePreset,
QPushButton:hover#editPreset,
QPushButton:hover#addFiles,
QPushButton:hover#removeFile,
QPushButton:hover#sortUp,
QPushButton:hover#sortDown,
QPushButton:hover#stop,
QPushButton:hover#start,
QPushButton:hover#buttonReset,
QPushButton:hover#addFilesHot,
QPushButton:hover#setOutFolder,
QPushButton:hover#settings,
QPushButton:hover#audioExpandBtn,
QPushButton:hover#hideWindow,
QPushButton:hover#expandWindow,
QPushButton:hover#closeReport,
QPushButton:hover#closeTWindow,
QPushButton:hover#back,
QPushButton:hover#forward {
    background-color: #E9E9E9;
}
QPushButton:hover#closeWindow {
    image: url(:/resources/icons/svg/close.svg);
    background-color: #EE0000;
}
QPushButton:hover#report {
    image: url(:/resources/icons/svg/order-history_white.svg);
}
QPushButton:pressed#resetLabels,
QPushButton:pressed#addExtStream,
QPushButton:pressed#clearTitles,
QPushButton:pressed#undoTitles,
QPushButton:pressed#clearMetadata,
QPushButton:pressed#undoMetadata,
QPushButton:pressed#addPreset,
QPushButton:pressed#removePreset,
QPushButton:pressed#editPreset,
QPushButton:pressed#addFiles,
QPushButton:pressed#removeFile,
QPushButton:pressed#sortUp,
QPushButton:pressed#sortDown,
QPushButton:pressed#stop,
QPushButton:pressed#start,
QPushButton:pressed#buttonReset,
QPushButton:pressed#addFilesHot,
QPushButton:pressed#setOutFolder,
QPushButton:pressed#settings,
QPushButton:pressed#viewMode,
QPushButton:pressed#hideWindow,
QPushButton:pressed#expandWindow,
QPushButton:pressed#closeWindow,
QPushButton:pressed#closeReport,
QPushButton:pressed#closeTWindow,
QPushButton:pressed#back,
QPushButton:pressed#forward {
    background-color: #EFEFEF;
}
QPushButton:pressed#report {
    border-radius: 0px;
    background-color: #EFEFEF;
}

/*********************************************/

QPushButton#buttonTab_1,
QPushButton#buttonTab_2,
QPushButton#buttonTab_3,
QPushButton#buttonTab_4 {
    text-align: center right;
    padding-right: 12px;
    border: none;
    border-radius: 0px;
    color: #000000;
    background-color: transparent;
}
QPushButton:disabled#buttonTab_1,
QPushButton:disabled#buttonTab_2,
QPushButton:disabled#buttonTab_3,
QPushButton:disabled#buttonTab_4 {
    border: none;
    color: #000000;
    background-color: @elementsBackgroundColor;
}
QPushButton:hover#buttonTab_1,
QPushButton:hover#buttonTab_2,
QPushButton:hover#buttonTab_3,
QPushButton:hover#buttonTab_4 {
    background-color: #FBFBFB;
}
QPushButton:pressed#buttonTab_1,
QPushButton:pressed#buttonTab_2,
QPushButton:pressed#buttonTab_3,
QPushButton:pressed#buttonTab_4 {
    background-color: #55AAFF;
}

/*********************************************/

QPushButton#framePrev {
    padding-left: 2px;
    padding-right: 2px;
    text-align: right center;
    border: 0px solid #373C46;
    color: #000000;
    background-color: transparent;
    image: url(:/resources/icons/16x16/cil-frame-left.png);
    image-position: center;
}
QPushButton#frameNext {
    padding-left: 2px;
    padding-right: 2px;
    text-align: left center;
    border: 0px solid #373C46;
    color: #000000;
    background-color: transparent;
    image: url(:/resources/icons/16x16/cil-frame-right.png);
    image-position: center;
}
QPushButton#buttonTempPath,
QPushButton#buttonOutputPath {
    border: 1px solid #373C46;
    color: #000000;
    background-color: transparent;
    image: url(:/resources/icons/16x16/cil-options-horizontal_black.png);
    image-position: center;
}
QPushButton#setStartTime,
QPushButton#setEndTime,
QPushButton#buttonConfigure {
    border: 1px solid #373C46;
    color: #000000;
    background-color: transparent;
}
QPushButton:disabled#framePrev,
QPushButton:disabled#frameNext,
QPushButton:disabled#setStartTime,
QPushButton:disabled#setEndTime,
QPushButton:disabled#buttonConfigure,
QPushButton:disabled#buttonTempPath,
QPushButton:disabled#buttonOutputPath {
    border: 1px solid #373C46;
    color: #62676F;
    background-color: transparent;
}
QPushButton:hover#framePrev,
QPushButton:hover#frameNext,
QPushButton:hover#setStartTime,
QPushButton:hover#setEndTime,
QPushButton:hover#buttonConfigure,
QPushButton:hover#buttonTempPath,
QPushButton:hover#buttonOutputPath {
    background-color: #DDDDDD;
}
QPushButton:pressed#framePrev,
QPushButton:pressed#frameNext,
QPushButton:pressed#setStartTime,
QPushButton:pressed#setEndTime,
QPushButton:pressed#buttonConfigure,
QPushButton:pressed#buttonTempPath,
QPushButton:pressed#buttonOutputPath {
    background-color: #55AAFF;
}

/*********************************************/

QPushButton#applyPreset {
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    color: @frameTextColor;
    background-color: transparent;
}
QPushButton:disabled#applyPreset {
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    color: #62676F;
    background-color: transparent;
}
QPushButton:hover#applyPreset {
    background-color: #DDDDDD;
}
QPushButton:pressed#applyPreset {
    background-color: #EEEEEE;
}

/*********************************************/

QPushButton#buttonCancel,
QPushButton#buttonApply,
QPushButton#buttonPayPal,
QPushButton#buttonBitcoin {
    border-radius: 1px;
    border: 1px solid #0d56be;
    color: #FFFFFF;
    background-color: #0d56be;
}

QPushButton:hover#buttonCancel,
QPushButton:hover#buttonApply,
QPushButton:hover#buttonPayPal,
QPushButton:hover#buttonBitcoin {
    border: 1px solid #1f8efa;
    background-color: #1f8efa;
}

QPushButton:pressed#buttonCancel,
QPushButton:pressed#buttonApply,
QPushButton:pressed#buttonPayPal,
QPushButton:pressed#buttonBitcoin {
    border: 1px solid #2B323D;
    background-color: #232831;
}


/**************************************************************************
**  QRadioButton
**************************************************************************/

QRadioButton {
    background: none;
}
QRadioButton::indicator {
    width: 12px; height: 12px;
}
QRadioButton::indicator::unchecked {
    image: url(:/resources/icons/svg/uncheck.svg);
}
QRadioButton::indicator::checked {
    image: url(:/resources/icons/svg/check.svg);
}


/**************************************************************************
**  QProgressBar
**************************************************************************/

QProgressBar {
    width: 15px;
    border-top-left-radius: @elementsBorderRadius;
    border-top-right-radius: @elementsBorderRadius;
    border-bottom-left-radius: @elementsBorderRadius;
    border-bottom-right-radius: @elementsBorderRadius;
    text-align: center;
    color: #000000;
    background: #DDDDDD;
}
QProgressBar::chunk {
    border-top-left-radius: @elementsBorderRadius;
    border-top-right-radius: @elementsBorderRadius;
    border-bottom-left-radius: @elementsBorderRadius;
    border-bottom-right-radius: @elementsBorderRadius;
    background: #394150;
}

/*********************************************/

QProgressBar#progressBar_opening {
    width: 15px;
    border-top-left-radius: @elementsBorderRadius;
    border-top-right-radius: @elementsBorderRadius;
    border-bottom-left-radius: @elementsBorderRadius;
    border-bottom-right-radius: @elementsBorderRadius;
    text-align: center;
    color: #000000;
    background: #DDDDDD;
}
QProgressBar::chunk#progressBar_opening {
    border-top-left-radius: @elementsBorderRadius;
    border-top-right-radius: @elementsBorderRadius;
    border-bottom-left-radius: @elementsBorderRadius;
    border-bottom-right-radius: @elementsBorderRadius;
    background: #394150;
}


/**************************************************************************
**  QSlider
**************************************************************************/

QSlider {
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
}
QSlider::groove:horizontal {
    height: 6px;
    padding-left: -4px;
    padding-right: -4px;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    background-color: #DDDDDD;
}
QSlider::sub-page:horizontal {
    border: 1px solid #DDDFDF;
    border-radius: 0px;
    background-color: #DDDFDF;
}
QSlider::handle:horizontal {
    image: url(:/resources/icons/16x16/cil-cursor-center.png);
    width: 16px;
    padding-left: -4px;
    padding-right: -4px;
    margin-top: -5px;
    margin-bottom: -5px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}
QSlider::sub-page:horizontal:disabled {
    border: 1px solid #DDDFDF;
    border-radius: 0px;
    background-color: #DDDFDF;
}
QSlider::handle:horizontal:disabled {
    width: 16px;
    padding-left: -4px;
    padding-right: -4px;
    margin-top: -5px;
    margin-bottom: -5px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

/*********************************************/

QSlider#sliderResize {
    padding-left: 22px;
    padding-right: 5px;
    border: 1px dotted #CCCCCC;
    background-color: transparent;

    background-image: url(:/resources/icons/16x16/cil-screen-desktop_black.png);
    background-repeat: no-repeat;
    background-position: left;
}
QSlider::groove:horizontal#sliderResize {
    height: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border: 0px solid #EEEEEE;
    border-radius: 2px;
    background-color: #EEEEEE;
}
QSlider::sub-page:horizontal#sliderResize {
    border: 0px solid #EEEEEE;
    border-radius: 2px;
    background-color: #EEEEEE;
}
QSlider::handle:horizontal#sliderResize {
    image: none;
    width: 8px;
    padding: 0px;
    margin: -4px;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    background-color: #BBBBBB;
}
QSlider::sub-page:horizontal:disabled#sliderResize {
    border: 0px solid #EEEEEE;
    border-radius: 2px;
    background-color: #EEEEEE;
}
QSlider::handle:horizontal:disabled#sliderResize {
    width: 8px;
    padding: 0px;
    margin: -4px;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    background-color: #BBBBBB;
}


/**************************************************************************
**  QGroupBox
**************************************************************************/

QGroupBox {
    border: 1px solid @frameMiddleBorder;
    margin-top: 12px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: @frameMiddleBackground;
}
QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    top: 0 ex;
    left: 12px;
    padding: 5px 5px;
    color: @frameTextColor;
}

/*********************************************/

QGroupBox#groupBoxSettings_1,
QGroupBox#groupBoxSettings_2,
QGroupBox#groupBoxSettings_3,
QGroupBox#groupBoxSettings_4,
QGroupBox#groupBoxSettings_5,
QGroupBox#groupBoxSettings_6,
QGroupBox#groupBoxSettings_7,
QGroupBox#groupBoxSettings_8,
QGroupBox#groupBoxSettings_9,
QGroupBox#groupBoxSettings_10
{
    border: 1px solid @frameMiddleBorder;
    margin-top: 21px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: @frameMiddleBackground;
}
QGroupBox::title#groupBoxSettings_1,
QGroupBox::title#groupBoxSettings_2,
QGroupBox::title#groupBoxSettings_3,
QGroupBox::title#groupBoxSettings_4,
QGroupBox::title#groupBoxSettings_5,
QGroupBox::title#groupBoxSettings_6,
QGroupBox::title#groupBoxSettings_7,
QGroupBox::title#groupBoxSettings_8,
QGroupBox::title#groupBoxSettings_9,
QGroupBox::title#groupBoxSettings_10
{
    subcontrol-origin: margin;
    subcontrol-position: top left;
    top: -1 ex;
    left: 6px;
    padding: 0px 0px 0px 0px;
    color: #000000;
}


/**************************************************************************
**  VLine
**************************************************************************/

QFrame[frameShape="4"],
QFrame[frameShape="5"] {
    border: none;
    background-color: @frameMiddleBorder;
}


/**************************************************************************
**  QDockWidget
**************************************************************************/

QDockWidget {
    titlebar-close-icon: url(:/resources/icons/16x16/cil-x_black.png);
    titlebar-normal-icon: url(:/resources/icons/16x16/cil-pin_black.png);
    color: @frameTextColor;
}
QDockWidget::title {
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center left;
    border-left: 1px solid @frameEdgeBorder;
    border-top: 1px solid @frameEdgeBorder;
    border-right: 1px solid @frameEdgeBorder;
    background: @frameHeaderBackground;
}
QDockWidget::close-button,
QDockWidget::float-button {
    icon-size: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    border-radius: 3px;
    background: @frameHeaderBackground;
}
QDockWidget::close-button:hover,
QDockWidget::float-button:hover {
    background: #D9D9D9;
}
QDockWidget::close-button:pressed,
QDockWidget::float-button:pressed {
    background-color: #55AAFF;
}
QDockWidget::close-button {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    top: 1px; bottom: 0px; right: 1px;
    subcontrol-position: center right;
    subcontrol-origin: margin;
    position: absolute;

}
QDockWidget::float-button {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    top: 1px; bottom: 0px; right: 24px;
    subcontrol-position: center right;
    subcontrol-origin: margin;
    position: absolute;

}

QTabBar, QDockWidget QTabBar {
    /*qproperty-drawBase: 0;*/
    color: @frameTextColor;
}
QTabBar::tab, QDockWidget QTabBar::tab {
}

QTabBar::tab:top, QDockWidget QTabBar::tab:top {
    min-width: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid @frameMiddleBorder;
    background-color: @frameMiddleBackground;
}
QTabBar::tab:top:selected, QDockWidget QTabBar::tab:top:selected {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -1px;
    border: 1px solid @frameMiddleBorder;
    background-color: @tableBackground;
}
QTabBar::tab:top:!selected, QDockWidget QTabBar::tab:top:!selected {
    background-color: @frameMiddleBackground;
}

QTabBar::tab:bottom, QDockWidget QTabBar::tab:bottom {
    min-width: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: @frameMiddleBackground;
}
QTabBar::tab:bottom:selected, QDockWidget QTabBar::tab:bottom:selected {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -1px;
    border-left: 1px solid @frameMiddleBorder;
    border-right: 1px solid @frameMiddleBorder;
    border-bottom: 1px solid @frameMiddleBorder;
    border-top: none;
    background-color: @frameHeaderBackground;
}
QTabBar::tab:bottom:!selected, QDockWidget QTabBar::tab:bottom:!selected {
    background-color: @frameMiddleBackground;
}
